---
layout: default
title: Publications
---

{% for prof in site.data.research_profiles %}
  <a href="{{ prof.link }}">
    <i class="{{ prof.icon_class }}"></i> {{ prof.name }}
  </a>
  &nbsp;
{% endfor %}

<br><br>

<ol>
  {% for pub in site.data.publications %}
  <li>
    <b>{{ pub.title }}</b><br>
    {{ pub.publisher }}<br>
    {{ pub.authors }}<br>
    <a href="{{ pub.paper_link }}">
      <i class="fa-solid fa-file-pdf"></i> Paper
    </a>
    &nbsp;

    {% if pub.supp_link %}
    <a href="{{ pub.supp_link }}">
      <i class="fa-solid fa-file-pdf"></i> Supplement
    </a>
    &nbsp;
    {% endif %}

    {% if pub.code_link %}
    <a href="{{ pub.code_link }}">
      <i class="fa-solid fa-file-code"></i> Code
    </a>
    {% endif %}
  {% endfor %}
</ol>
