---
layout: default
title: Publications
---

<ol>
  {% for pub in site.data.publications %}
  <li>
    <b>{{ pub.title }}</b><br>
    {{ pub.publisher }}<br>
    {{ pub.authors }}<br>
    <a href="{{ pub.paper_link }}">
      <i class="fa-solid fa-file-text"></i> Paper
    </a>
    &nbsp;

    {% if pub.supp_link %}
    <a href="{{ pub.supp_link }}">
      <i class="fa-solid fa-file-text"></i> Supplement
    </a>
    &nbsp;
    {% endif %}

    <a href="{{ pub.repo_link }}">
      <i class="fa-brands fa-github"></i> Code
    </a>
  {% endfor %}
</ol>
