---
layout: default
title: Teaching Experience
---

{% assign types = "Teaching Assistant, Peer Tutor" | split: ", " %}

{% for school in site.data.schools %}
  <h2>
    {{ school.name }}
    <img src="{{ school.logo_link }}" alt="{{ school.logo_alt }}" width="20%" align="right">
  </h2>

  {% assign roles = site.data.teaching_roles | where: "school_id", school.id %}

  {% for type in types %}
    {% assign roles_by_type = roles | where: "type", type %}

    {% if roles_by_type.size > 0 %}
      <h3>{{ type }}</h3>

      {% for role in roles_by_type %}
        {{ role.course }}
        ({{ role.time }})
        <br>
      {% endfor %}

      <br>
    {% endif %}
  {% endfor %}
{% endfor %}
