html {
    scroll-behavior: smooth;
}

.wrapper {
    font-family: sans-serif;
}

h2 {
    font-weight: 400;
    color: gray;
}

hr {
    width: 120px;
    border-width: 3px;
    background-color: rgb(157, 184, 213);
}

p {
    font-size: large;
    color: gray;
}

nav {
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
}

#home, #contact {
    min-height: 100vmin;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/background.JPG');
}

.greeting {
    padding-top: 35vmin;
    padding-bottom: 20vmin;
}


 #greeting-text, #greeting-text-2 {
    color: white;
    font-size: 4.6vw;
    font-family: monospace;
}

#greeting-text {
    border-right: 1.5vw solid;
}

.contacts {
    text-align: center;
}

.contacts a {
    color: transparent;
}

.contacts i {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    font-size: 10vmin;
    padding: 3vmin;
    margin: 0.5vmin;
}

i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#about, #experience, #projects {
    padding-top: 10vh;
}

#headshot {
    border-radius: 50%;
    width: 100%;
    min-width: 260px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#fidelity-investments-img, #health-sqyre-img {
    width: 100%;
    min-width: 260px;
    padding-bottom: 3vh;
}

h4 {
    color: rgb(107, 134, 180);
}

h5 {
    color: rgb(157, 184, 213);
}

#fidelity-investments {
    padding-bottom: 8vh;
}

#contact {
    margin-top: 10vh;
}

.reach-out {
    padding-top: 40vmin;   
    padding-bottom: 20vmin;
}

#contact-text {
    color: white;
    font-size: 3.8vw;
    font-family: monospace;
    border-right: 1.3vw solid;
}